.container{
  padding: 1.2rem;
}
.mainContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-inline:2rem ;
  height: 80vh;
}
.mainContainer_left{
  flex:0.5;
}
.mainContainer_right {
  flex: 0.5;
}
.mainContainer_left>p:nth-child(1){
  font-size: 2.9rem;

}
.mainContainer_left>p:nth-child(2) {
  color: #4D4D4D;
  font-size: 1.9rem;

}
.mainContainer_left>div.buttonJoin {
  width:fit-Content;
   border-radius: 5px;
   padding: 5px;
    
  cursor: pointer;
  user-select: none;
  margin-top:0.8rem ;
  transition: all 0.2s;
  font-size: 1.4rem;
  background: #c88b8b;
 padding-inline: 1.2rem;

}