 .cardContainer {
     display: flex;
     height: 80vh;
     border: 1px solid red;
     display: flex;
     border-radius: 10px;
     width: 80vw;
     background: white;
     box-shadow: 10px 10px 10px rgba(173, 173, 173);
 }

 .cardContainer_left {
     flex: 0.6;
     padding: 2rem;
     text-align: center;
 }

 .inputFeild {
     padding-inline: 1.3rem;
     padding-block: 0.8rem;
     border: 1px solid #ccc;
     outline: none;
     border-radius: 5px;
 }

 .inputRow {
     display: flex;
     width: fit-content;
     flex-direction: row;
     gap: 1rem;
 }


 .cardContainer_right {
     flex: 0.4;
     background: #f5f5f5;
     padding: 2rem;
     display: flex;
     align-items: center;
     text-align: center;
 }